body{
  margin: 0;
  padding: 0;
}
h1,h2{
  margin: 0;
  padding: 0;
}
a {
  color: #00B7FF;
}
.wrapper{
  margin: 12px;
  line-height: 22px;
  font-size: 14px;
  color: #333;
}
.title{
  line-height: 48px;
  font-size: 24px;
  font-weight: bold;
}
.caption{
  line-height: 36px;
  font-size: 18px;
  color: #333;
}
.code{
  margin: 0;
  padding: 12px;
  background-color: #333;
  border-radius: 4px;
  overflow: auto;
}
.code code{
  color: #fff;
  margin: 0;
  padding: 0;
}
.content{
  word-break: break-all;
}
