extends layout

block content
  h1= title
  p Welcome to #{title}
  h2= '本示例 Github 源码地址'
  a(href="https://github.com/TencentCloudBase/cloudbase-templates/tree/master/node") https://github.com/TencentCloudBase/cloudbase-templates/tree/master/node
  h2='开发部署工具: CloudBase Framework'
    a(href="https://github.com/TencentCloudBase/cloudbase-framework")
      img(src="https://img.shields.io/github/stars/TencentCloudBase/cloudbase-framework?style=social", alt="CloudBase Framework")
  a(href="https://github.com/TencentCloudBase/cloudbase-framework" title="CloudBase Framework: 云开发前后端一体化部署工具")
    img(width="420" src="https://main.qcloudimg.com/raw/615038b16047fa677646011fae909102.png")

